.box {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1 5px 5px black;
}

h1 {
    color: rgb(46, 46, 158);
    font-size: 2rem;
    margin: 20px;
    text-align: center;
}

.inputFiled {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(186, 186, 186);
    margin: 5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 213, 75);
    cursor: pointer;
}

td button {
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(163, 4, 4);
    cursor: pointer;
}

.countryBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(194, 215, 255);
    padding: auto;
    border: none;
}

.country {
    margin: 10px;
}

.gold {
    margin: 10px;
}
.sliver {
    margin: 10px;
}
.bronze {
    margin: 10px;
}
